.div-som {
  position: fixed;
  bottom: 185px;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  z-index: 999;
}

.som-atual {
  color: white;
  font-size: 18px;
}

.musica-atual {
  font-size: 25px;
  font-weight: 700;
  color: #1db954;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: fixed;
  bottom: 113px;
  left: 0px;
  right: 0;
  padding: 19px;
  display: flex;
  z-index: 999;
  background-color: #4400ff;
}
