/* Controls.css */

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #1e1e1e;
    color: #fff;
  }
  
  .play-button,
  .pause-button,
  .next-button,
  .prev-button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .play-button:hover,
  .pause-button:hover,
  .next-button:hover,
  .prev-button:hover {
    color: #1db954;
  }
  
  .progress-bar {
    margin-left: 10px;
    width: 100%;
    height: 5px;
    background-color: #535353;
    position: relative;
  }
  
  .bar__progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #1db954;
  }
  
  .bar__time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .bar__time span:first-child {
    margin-right: 5px;
  }
  